body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  margin: 0 auto;
  box-sizing: border-box;
}

.btn-rolling{
  background-color: #e24c1f;
  color: #ffffff;
}
.btn-rolling:hover{
  background-color: #852e14;
  color: #ffffff;
}
.text-area-form{
  height: 4em;
  resize: none;
}
.ant-layout-content{
min-height: calc(100vh - 188px);
padding: 0;
margin: 0;
}